version: '3.9'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: bmp
      POSTGRES_PASSWORD: bmp123
      POSTGRES_DB: bmp
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    ports:
      - "3001:3000"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
