body {
  background: #f4f7f6;
  font-family: Arial;
}
.container {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}
button {
  background: #f39c12;
  border: none;
  padding: 10px;
  color: white;
  width: 100%;
  margin-top: 5px;
}
